* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	float: none;	
}

html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
	background-color: #E6E6E6;
}

/* main navigation parent div */
.navbar {
	background: #EF5350;
	border: 0px;
	margin: 0px auto;
}

#logo{
	padding: 0 auto;
	text-align: center;
	float: none;
}

#brand{
	display: block;
	float: none;
}

/* items in mainNav */
#headerListItems ul li, #headerListItems a{
	color: #ECECEC;
}

/* mainNav div */
#mainList {
	padding: 0 auto;
	text-align: center;
	float: none;
}

/* mainNav li items */
#mainList li {
	display: inline-block;
	float: none;	
}

.container {
	background-color: #fff;
	min-height: 100%;
}

#content {
	margin: 1px auto;
}






